
/* styling for typical computer browser */
@media (min-width: 600px) {
	body {
		background-image: url(porsche2.jpg);
		background-position: stretch;
		background-repeat: no-repeat;
		color: white;
		text-align: center;
		font-family: Roboto, arial, sans-serif;
	}

	h2 {
		font-size: 72px;
		font-weight: 700;
	}

	p {
		font-size: 40px;
		font-weight: 300;
	}
}
/* styling for smaller screens (under 600 px) */
body {
	background-image: url(porsche2.jpg);
	color: white;
	text-align: center;
	font-family: Roboto, arial, sans-serif;

}

h2 {
	font-size: 72px;
	font-weight: 700;
}

p {
	font-size: 40px;
	font-weight: 300;
}

button {
	background-color: rgb(255, 90, 0);
	height: 40px;
	width: 320px;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	font-weight: 300;
	border-color: rgb(255, 90, 0);
}
/* green bar at top */
#orange {
	height: 8px;
	width: 100%;
	background-color: rgb(29, 196, 65);
	padding: 0;
	margin: 0;
}

.container {
	align-content: center;
}
/* styling for game board, causes white border */
table {
	border: 1px solid white;
	margin: 0 auto;
}

td {
	
	height: 80px;
	width: 80px;
}

p.page2 {
	font-size: 16px;
}

button.page2 {
	width: 120px;
}

.instructions {

}
/* styles top yellow dot, player 1 */
.dot1 {
	border-radius: 40px;
	background-color: yellow;
}
/* styles bottom orange dot, player 2 */
.dot2 {
	border-radius: 40px;
	background-color: rgb(255, 90, 0);
}

